<div class="container mt-2">
    <div id="blogpost"></div>
    <div>
        <h3>Comments</h3>
        <div id="comments"></div>
    </div>

    {{#if loggedIn}}
    <div class="mt-4" id="comment">
        <h3>Leave a comment</h3>
        <form id="commentForm">
            <div>
                <textarea id="commentText" name="commentText" placeholder="Comment"></textarea>
            </div>
            <button class="" type="submit" id="commentSubmit">Submit</button>
        </form>
    </div>
    {{else}}
    <div id="comment">
        <p>Log in to comment</p>
    </div>
    {{/if}}

</div>
<script src="/js/blog.js"></script>