<div class="container mt-5">
  <div class="login-card">
    <h2 class="page-title text-center pt-2">Home Page</h2>
  </div>
  <div class="mb-3 ms-4" id="postcontainer"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.9/dayjs.min.js"
  integrity="sha512-q4Xn+ZU2K+dqJPL8a3TiyGsDa31IkR/rLt/w+fy8jLrx8TdXj0dLM1Aq4aPXnOOKxHEya/bD9DePDB2DHm4jJQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/home.js"></script>